<script type='text/javascript'>console.log('does this run')</script>
<div class="note-section row">
    <div class="col-lg-12">
        <h4>Welcome back, {{user}}</h4>
        <p>Add a note</p>
        <form id="add" class="row d-flex justify-content-center" >
            <div class="col-sm-12 col-md-9">
                <textarea type="text" name="note" class="typingarea mt-3" placeholder="    start typing here..."></textarea>
            </div>
            <div class="col-sm-12 col-md-12 mt-5">
                <input type="submit" value="Add" class="add_btn">
            </div>
        </form>
    </div>

    <div class="container">
        <h4>Notes<span class="saving">Saving...</span></h4>
        <br>
        <div id="notes">
            {{#each notes}}
            
            <div class="note">
                <span class="input"><textarea data-id="{{ @index }}">{{ this }}</textarea></span>

                <button class="remove btn btn-xs" data-id="{{ @index }}"><i class="fa fa-trash"
                        aria-hidden="true"></i></button>
            </div>
            {{/each}}
        </div>
    </div>
</div>